body {
  background-color: #fff;
}

body p {
  color: #0c0c0c;
}

body h1 {
  color: #0c0c0c;
}

body.dark {
  background-color: #0c0c0c;
}

body.dark p {
  color: #fff;
}

body.dark h1 {
  color: #fff;
}

.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 50%;
}

.button-container {
  background: #2196F3;
  border-radius: 34px;
  width: 50px;
  height: 26px;
  float: right;
  position: relative;
}

.theme-button {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}

.theme-button.on {
  left: 27px;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 1040px;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 590px;
  }
}

@media screen and (max-width: 590px) {
  .container {
    max-width: 490px;
  }

  .col {
    flex: 0 0 100%;
  }
}